<body>
	<div class="container jumbo-container">
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class='pageTitle'>{{title}}</h1>
                <p class="lead">Read and write reviews of today's most popular podcasts!</p>

                {{#if isLoggedIn}}
                <a href='/logout'>logout</a>
                {{/if}}

                {{#unless isLoggedIn}}
                <form>
                <input type="button" value='Log In' onclick="window.location.href='https://github.com/login/oauth/authorize?scope=user:email&client_id=<%= client_id %>'" />
                </form>
                {{/unless}}
<
            </div>
        </div>
		<div class="row">
			<div class="col-12 search">
				<form id="search-form">
					<div class="input-group input-group-lg">
					<input class="form-control search-bar" placeholder="Search for a particular podcast...">
					<span class="input-group-btn">
					<button class="btn btn-light submitBtn" type="submit">Search</button>
					</span>
				    </div>
				</form>
			</div>
		</div>

        {{#each podcasts}}
		<div class="row">
			<div class="col-12 results">
				<div class="card-deck">
					<div class="card bg-light mb-3" style="max-width: 18rem;">
                        <div class="card-header">{{this.podcastTitle}}</div>
                        <div class="card-body">
                            <img class="podcastImg">{{this.imageURL}}/>
                            <p class="feedURL">{{this.feedURL}}</p>
                            {{#each reviews}}
                            <p class="reviewsUser">{{this.UserId}}</p>
                            <p class="reviewsRating">{{this.rating}}</p>
                            <p class="reviewsComment">{{this.comment}}</p>
                            {{/each}}
                        </div>
				    </div>
			    </div>
            </div>
        </div>    
        {{/each}}

        <div class="footer">
                <a href="/">About Us</a>
                <a href="/">Contact Us</a>
                <a href="/">Follow Us</a>
            </div>
            <div class="trademarks">
            <p>&copy;PodPals, Inc.</p>   
	</div>
</body>
