<body>
    {{!-- jumbotron --}}
    <div class="jumbotron jumbotron-fluid">
        <div class="container containerLogBtn container-flex">

            {{!-- creates log in button / log out button / sign up button depending on authentication  --}}
            {{#if isLoggedIn}}
            <input type="button" class="btn btn-secondary btn-xs" value='Log Out' onclick=window.location.href='/'/> 
            {{/if}}
            
            {{#unless isLoggedIn}}
            <input type="button" class="btn btn-secondary btn-xs" value='Log In' onclick=window.location.href='/login'/> 
            {{/unless}} 

            {{#unless isLoggedIn}}
            <input type="button" class="btn btn-secondary btn-xs" value='Home' onclick=location.href='/' /> 
            {{/unless}}

        </div>
        <img class="podpalslogo" src="/images/podpals.png" alt="podpalslogo" />
        <p class="lead">Read and write reviews of today's most popular podcasts</p>
    </div>
    <br>

    <div class="container">
        {{!--individual podcast image and title to render --}}
        <div class="podcastInfo">
                <div class="card mb-3">
                    <img class="card-img-top podcastImg" src="{{podcast.imageURL}}" alt="Card image cap">
                    <h3 class="card-title podcastTitle">{{podcast.title}}</h3>
                </div>
        </div> 

        {{!--rating Title --}}
        <hr>
        <div class="row ratingTitle">
            <div class="col-12 userRatingStatement">
                <h3 class="eachRatingTitle">User Ratings</h3>
            </div>
        </div>
        <br>

        {{!--individual user name to review for individual user review --}}
            <div class="row flex-row flex-wrap">
                <div class="col-12 previousReviews">

                    {{#each reviews}}
                    <div class="card border-dark bg-bf mb-3 podcastCard">
                    {{#each users}}  
                        <div class="newRatingnewComment">
                            <p class="userName">{{this.github_id}}</p>
                    {{/each}}
                    {{!--individual user rating and comment for individual podcast to render --}}
                            <h4 class="ratingNumber">{{this.rating}} Stars</h4>
                            <h5 class="comment">{{this.comment}}</h5>
                        </div>
                    {{/each }}

                    </div>
                </div>
            </div>  
        <br>

        {{!--option to write review if logged in --}}

        {{!-- {{#if isLoggedIn}}  --}}

        <hr>
        <div class="row newRating">
            <div class="col-12 ratingStatement">
            <h3 class="newRatingArea">Rate this Podcast</h3>
            </div>
            <br>

            {{#each users}}
            <div class="form-group row">
                    <h2 class="userName">{{this.username}}</h2>
            </div>
            {{/each}}

            <form class="newInputReview">
                <div class="form-group row">
                    <div class="col-sm-12 ratingAndComment">
                        <div class="card border-dark bg-bf mb-3">
                            <div class="star-rating">
                                <input id="star-5" type="radio" name="rating" value="star-5">
                                <label for="star-5" title="5 stars">
                                        <i class="active fa fa-star" aria-hidden="true"></i>
                                </label>
                                <input id="star-4" type="radio" name="rating" value="star-4">
                                <label for="star-4" title="4 stars">
                                        <i class="active fa fa-star" aria-hidden="true"></i>
                                </label>
                                <input id="star-3" type="radio" name="rating" value="star-3">
                                <label for="star-3" title="3 stars">
                                        <i class="active fa fa-star" aria-hidden="true"></i>
                                </label>
                                <input id="star-2" type="radio" name="rating" value="star-2">
                                <label for="star-2" title="2 stars">
                                        <i class="active fa fa-star" aria-hidden="true"></i>
                                </label>
                                <input id="star-1" type="radio" name="rating" value="star-1">
                                <label for="star-1" title="1 star">
                                        <i class="active fa fa-star" aria-hidden="true"></i>
                                </label>
                            </div>

                            <div class="col-sm-12 commentForReview">
                            <input type="comment" class="form-control newComment" id="comment" placeholder="Add a comment...">
                            <button type="submit" class="btn btn-secondary newCommentBtn">Submit</button>
                            </div>
                        </div>    
                    </div>
                </div>
            </form>
        </div>
        {{!-- {{/if}} --}}

        <div class="row">
            <div class="col-12">
                <div class="footer text-center">
                    <a href="/">About Us</a>
                    <a href="/">Contact Us</a>
                    <a href="/">Follow Us</a>
                <br>
                <br>
                    <p>&copy;PodPals, Inc.</p>
                </div>
            </div>
        </div>
    </div>
</body>
