<body>
    {{!-- jumbotron --}}
    <div class="jumbotron jumbotron-fluid">
        <div class="container containerLogBtn container-flex">

            {{!-- creates log in button / log out button / sign up button depending on authentication  --}}
            {{#if isLoggedIn}}
            <input type="button" class="btn btn-secondary btn-xs" value='Log Out' onclick="window.location.href='/logout'" /> 
            {{/if}} 
            
            {{#unless isLoggedIn}}
            <input type="button" class="btn btn-secondary btn-xs" value='Log In' onclick="window.location.href='https://github.com/login/oauth/authorize?scope=user:email&client_id=<%= client_id %>'"/> 
            {{/unless}} 
            
            {{#if isLoggedIn}}
            <input type="button" class="btn btn-secondary btn-xs" value='Sign Up' onclick="window.location.href='/logout'" /> 
            {{/if}} 

            {{#unless isLoggedIn}}
            <input type="button" class="btn btn-secondary btn-xs" value='Home' onclick="window.location.href='https://github.com/login/oauth/authorize?scope=user:email&client_id=<%= client_id %>'"/> 
            {{/unless}}

        </div>
        <img class="podpalslogo" src="/images/podpals.png" alt="podpalslogo" />
        <p class="lead">Read and write reviews of today's most popular podcasts</p>
    </div>
    <br>

    <div class="container">
        {{!--individual podcast image and title to render --}}
        <div class=" podcastInfo">
                <div class="card mb-3">
                    <img class="card-img-top podcastImg" src="{{podcast.imageURL}}" alt="Card image cap">
                    <h5 class="card-title podcastTitle">{{podcast.title}}</h5>
                </div>
            </div> 
        <br>

        {{!--rating Title --}}
        <div class="row ratingTitle">
            <div class="col-12 ratingStatement">
            <h3 class="eachRatingTitle">User Ratings</h3>
            </div>
        </div>
        <br>

        {{!--individual user name to review for individual user review --}}
            <div class="row">
                <div class="col-12 previousReviews">
                    <div class="card border-dark bg-bf mb-3 podcastCard">

                        {{#each users}}  
                            <div class="newRatingnewComment">
                                <p class="userName">{{this.username}}</p>
                        {{/each}}

                        {{!--individual user rating and comment for individual podcast to render --}}
                        {{#each reviews}}
                                <h3 class="ratingNumber">{{this.rating}}</h3>
                                <h5 class="comment">{{this.comment}}</h5>
                            </div>
                        {{/each }}

                    </div>
                </div>
            </div>  
        <br>

        {{!--option to write review if logged in --}}

        {{!--rating Title --}}
        <div class="row newRating">
            <div class="col-12 ratingStatement">
            <h3 class="newRatingArea">Write a New Rating</h3>
            </div>
        </div>
        <br>

        {{!-- {{#if isLoggedIn}}  --}}
            {{#each users}}
            <div class="form-group row">
                    <h2 class="userName">{{this.username}}</h2>
            </div>
            {{/each}}

            <form>
                <div class="form-group row newInputReview">
                    <div class="col-sm-12">
                        <label for="podcastReview" class="col-sm-10 col-form-label">Slide to rate this Podcast!</label>
                        <input type="range" name="Rating" data-provide="slider" data-slider-ticks="[1, 2, 3, 4, 5]" data-slider-ticks-labels='[1, 2, 3, 4, 5]'
                            data-slider-min="1" data-slider-max="5" data-slider-step="1" data-slider-value="5" data-slider-ticks_tooltip="true" />
                        <button type="submit" class="btn btn-secondary">Submit</button>
                        <input type="comment" class="form-control" id="comment" placeholder="Add a comment...">
                        <button type="submit" class="btn btn-secondary">Submit</button>
                    </div>
                </div>
            </form>
        {{!-- {{/if}} --}}

        <div class="row">
            <div class="col-12">
                <div class="footer text-center">
                    <a href="/">About Us</a>
                    <a href="/">Contact Us</a>
                    <a href="/">Follow Us</a>
                <br>
                <br>
                    <p>&copy;PodPals, Inc.</p>
                </div>
            </div>
        </div>
    </div>
</body>
